Repository GNARC0TICS/Degentalk-Preview: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write, bash -c '[[ $0 == db/schema/index.js ]] && exit 0 || eslint --fix --quiet --max-warnings 0', bash -c 'if grep -l "console\." "$0" | grep -v ".test.ts" | grep -v "logger.ts"; then echo "❌ Console usage detected in $0"; exit 1; fi', bash -c 'if grep -l "req\.user" "$0" | grep -v ".test.ts"; then echo "❌ req.user direct access detected in $0"; exit 1; fi'

fix: correct thread API endpoint path
  client/src/features/forum/components/ThreadList.tsx
  server/src/domains/admin/sub-domains/dgt-packages/dgt-packages.routes.ts
  server/src/domains/admin/sub-domains/settings/brand.controller.ts
  server/src/domains/admin/sub-domains/settings/brand.routes.ts
  server/src/domains/admin/sub-domains/settings/brand.service.ts
  server/src/domains/admin/sub-domains/settings/ui-config.controller.ts
  server/src/domains/admin/sub-domains/settings/ui-config.routes.ts
  server/src/domains/admin/sub-domains/settings/ui-config.service.ts
  server/src/domains/admin/sub-domains/settings/ui-config.types.ts
  server/src/domains/admin/sub-domains/settings/ui-config.validators.ts
  server/src/domains/admin/sub-domains/settings/uiThemes.service.ts
  server/src/domains/wallet/admin/dgt-packages.controller.ts
  server/src/domains/wallet/admin/dgt-packages.routes.ts
  server/src/domains/wallet/admin/dgt-packages.service.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'if grep -l "console\." "$0" | grep -v ".test.ts" | grep -v "logger.ts"; then echo "❌ Console usage detected in $0"; exit 1; fi', bash -c 'if grep -l "req\.user" "$0" | grep -v ".test.ts"; then echo "❌ req.user direct access detected in $0"; exit 1; fi'

feat: simplify forum UI and improve visual design
  ADMIN_CLEANUP_FINAL.md
  client/src/Router.tsx
  client/src/components/forum/FeaturedForumCard.tsx
  client/src/components/forum/ForumPage.tsx
  client/src/features/forum/components/ThreadForm.tsx
  client/src/pages/forums/index.tsx
  client/src/pages/threads/[slug].tsx
  server/src/domains/forum/controllers/thread.controller.ts
  server/src/domains/forum/validation/thread.validation.ts
  server/src/domains/gamification/reputation.controller.ts
  server/src/domains/gamification/reputation.routes.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'if grep -l "console\." "$0" | grep -v ".test.ts" | grep -v "logger.ts"; then echo "❌ Console usage detected in $0"; exit 1; fi', bash -c 'if grep -l "req\.user" "$0" | grep -v ".test.ts"; then echo "❌ req.user direct access detected in $0"; exit 1; fi'

Fix import path for generateId in UpcomingEventsWidget
  .gitignore
Due: none

fix: resolve server startup errors after types restructuring
  client/src/pages/shop/avatar-frames.tsx
  scripts/fix-shared-imports.sh
  server/src/core/logger-config.ts
  server/src/core/logger-types.ts
  server/src/core/logger.ts
  server/src/domains/forum/forum.service.ts
  server/src/domains/forum/services/category.service.ts
  server/src/domains/forum/services/config.service.ts
  server/src/domains/forum/services/post.service.ts
  server/src/domains/forum/services/structure.service.ts
  server/src/domains/forum/services/thread.service.ts
  server/src/domains/users/transformers/user.transformer.ts
  server/src/domains/wallet/adapters/cache.adapter.ts
  server/src/domains/wallet/adapters/ccpayment.adapter.ts
  server/src/domains/wallet/controllers/wallet.controller.ts
  server/src/domains/wallet/index.ts
  server/src/domains/wallet/services/dgtService.ts
  server/src/domains/wallet/services/wallet.service.ts
  server/src/domains/wallet/transformers/wallet-settings.transformer.ts
  server/src/domains/wallet/transformers/wallet.transformer.ts
  shared/package.json
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'if grep -l "console\." "$0" | grep -v ".test.ts" | grep -v "logger.ts"; then echo "❌ Console usage detected in $0"; exit 1; fi', bash -c 'if grep -l "req\.user" "$0" | grep -v ".test.ts"; then echo "❌ req.user direct access detected in $0"; exit 1; fi'

fix: resolve script import errors and seed functionality
  package.json
  pnpm-lock.yaml
  scripts/cache-decorator-test.ts
  scripts/db/backfill-configZoneType.ts
  scripts/db/seed-achievements.ts
  scripts/db/seed-promotion-pricing.ts
  scripts/db/seed-shop.ts
  scripts/db/seed-ui-config-quotes.ts
  scripts/db/seed-users-with-tokens.ts
  scripts/db/seed-users.ts
  scripts/db/seed-xp-actions.ts
  scripts/db/sync-forum-config.ts
  scripts/db/test-forum-runtime.ts
  scripts/dev-login.ts
  scripts/ensure-default-frames.ts
  scripts/fix-script-imports.sh
  scripts/run-with-paths.sh
  scripts/seed.ts
  scripts/seed/shop/seed-default-cosmetics.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: ensure-default-frames script and dev:frames command
  package.json
  pnpm-lock.yaml
  scripts/ensure-default-frames.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(imports): fix missing imports in relations files and auth module paths
  server/src/utils/dev-auth-startup.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'if grep -l "console\." "$0" | grep -v ".test.ts" | grep -v "logger.ts"; then echo "❌ Console usage detected in $0"; exit 1; fi', bash -c 'if grep -l "req\.user" "$0" | grep -v ".test.ts"; then echo "❌ req.user direct access detected in $0"; exit 1; fi'

fix: add timestamp to AdminOperationBoundary instances and more logger fixes
  db/migrations/archive/canonical-zones-schema-update.ts
  db/schema/admin/announcements.ts
  db/schema/economy/postTips.ts
  db/schema/forum/postReactions.ts
  db/schema/helpers/drizzle-zod-fix.ts
  db/schema/index.ts
  db/tsconfig.build.json
  scripts/fix-drizzle-zod-errors.ts
  server/src/core/repository/interfaces.ts
  server/src/domains/admin/sub-domains/backup-restore/backup-restore.controller.ts
  server/src/domains/analytics/admin/fraud-detection.controller.ts
  server/src/domains/analytics/admin/system-analytics.controller.ts
  server/src/domains/collectibles/stickers/stickers.controller.ts
  server/src/domains/forum/types/index.ts
  server/src/domains/notifications/admin/email-templates.controller.ts
  server/src/domains/profile/profile-stats.service.ts
  server/src/domains/uploads/upload.service.ts
  unfuck-progress.md
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'if grep -l "console\." "$0" | grep -v ".test.ts" | grep -v "logger.ts"; then echo "❌ Console usage detected in $0"; exit 1; fi', bash -c 'if grep -l "req\.user" "$0" | grep -v ".test.ts"; then echo "❌ req.user direct access detected in $0"; exit 1; fi'

fix: schema exports and type alignment - reduced errors from 2482 to 1800
  db/schema/admin/announcements.ts
  db/schema/dictionary/entries.ts
  db/schema/economy/dgtPurchaseOrders.ts
  db/schema/economy/withdrawalRequests.ts
  db/schema/forum/posts.ts
  db/schema/forum/rules.ts
  db/schema/forum/threads.ts
  db/schema/messaging/chatRooms.ts
  db/schema/messaging/directMessages.ts
  db/schema/messaging/shoutboxMessages.ts
  db/schema/user/users.ts
  scripts/fix-drizzle-zod-simple.ts
  server/src/domains/admin/transformers/admin.transformer.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'if grep -l "console\." "$0" | grep -v ".test.ts" | grep -v "logger.ts"; then echo "❌ Console usage detected in $0"; exit 1; fi', bash -c 'if grep -l "req\.user" "$0" | grep -v ".test.ts"; then echo "❌ req.user direct access detected in $0"; exit 1; fi'

fix: DgtAmount type conversions using toDgtAmount function
  db/schema/economy/dgtPackages.ts
  db/schema/economy/vaults.ts
  server/src/domains/messaging/transformers/message.transformer.ts
  server/src/domains/profile/transformers/profile.transformer.ts
  server/src/domains/shop/services/vanity-sink.analyzer.ts
  unfuck-progress.md
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'if grep -l "console\." "$0" | grep -v ".test.ts" | grep -v "logger.ts"; then echo "❌ Console usage detected in $0"; exit 1; fi', bash -c 'if grep -l "req\.user" "$0" | grep -v ".test.ts"; then echo "❌ req.user direct access detected in $0"; exit 1; fi'

🎉 Sprint 1 COMPLETED: Repository Pattern Enforcement
  SPRINT1_COMPLETION_REPORT.md
Due: prettier --write

Add React Rough Notation for Forum button with crossed-out effect and 'soon' annotation
  client/index.html
  client/package.json
  client/src/components/header/ForumNavButton.tsx
  client/src/components/header/PrimaryNav.tsx
  client/src/styles/typography.css
  pnpm-lock.yaml
Due: eslint --fix --max-warnings 0, prettier --write

Simplify Forum button to use strike-through on hover with React Rough Notation
  client/src/components/header/ForumNavButton.tsx
  client/src/components/header/PrimaryNav.tsx
Due: eslint --fix --max-warnings 0, prettier --write

Disable prefers-reduced-motion across entire project for full animation experience
  client/src/components/header/ForumNavButton.tsx
  client/src/components/header/PrimaryNav.tsx
  client/src/styles/accessibility.css
  client/src/styles/content-feed.css
  client/src/styles/tokens/animations.css
  client/src/styles/utilities.css
Due: eslint --fix --max-warnings 0, prettier --write

Replace React Rough Notation with GSAP strike-through for Forum button
  client/src/components/header/ForumNavButton.tsx
  client/src/components/header/PrimaryNav.tsx
Due: eslint --fix --max-warnings 0, prettier --write

Create proper X mark animation for Forum button on hover
  client/src/components/header/ForumButtonX.tsx
  client/src/components/header/PrimaryNav.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat: Integrate legal pages (privacy, terms, contact) into footer navigation
  client/src/Router.tsx
  client/src/components/header/ForumButtonX.tsx
  client/src/components/header/PrimaryNav.tsx
  client/src/config/footer-navigation.ts
  package.json
Due: eslint --fix --max-warnings 0, prettier --write

fix: Add missing ViewportBackground component for legal pages
  client/src/components/ViewportBackground.tsx
Due: eslint --fix --max-warnings 0, prettier --write

fix: Correct utils import path in ViewportBackground component
  client/src/components/ViewportBackground.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat: Integrate custom WebP banner images into carousel
  client/public/banners/Community.webp
  client/public/banners/RainEvents.png.webp
  client/public/banners/Shop1.webp
  client/public/banners/Shop2.webp
  client/public/banners/Shoutbox.webp
  client/public/banners/Unhinged.webp
  client/public/banners/UserRoles.webp
  client/public/banners/XP.webp
  client/src/components/landing/BannerCard.tsx
  client/src/components/landing/BannerCarousel.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat: Remove Community and Shop1 banners from carousel
  client/public/banners/Community.webp
  client/public/banners/Shop1.webp
  client/src/components/landing/BannerCarousel.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat: Style Forum button as disabled with permanent red underline
  client/src/components/header/NavLink.tsx
  client/src/components/header/PrimaryNav.tsx
Due: eslint --fix --max-warnings 0, prettier --write

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{ts,tsx}
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,md,yml,yaml})
  bash -c '[[ $0 == db/schema/index.js ]] && exit 0 || eslint --fix --quiet --max-warnings 0': any of: *.{js,jsx}
  bash -c 'if grep -l "console\." "$0" | grep -v ".test.ts" | grep -v "logger.ts"; then echo "❌ Console usage detected in $0"; exit 1; fi': any of: server/**/*.ts
  bash -c 'if grep -l "req\.user" "$0" | grep -v ".test.ts"; then echo "❌ req.user direct access detected in $0"; exit 1; fi': any of: server/**/*.ts
