Repository GNARC0TICS/Degentalk-Preview: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write, bash -c 'if grep -l "console\." "$0" | grep -v ".test.ts" | grep -v "logger.ts"; then echo "❌ Console usage detected in $0"; exit 1; fi', bash -c 'if grep -l "req\.user" "$0" | grep -v ".test.ts"; then echo "❌ req.user direct access detected in $0"; exit 1; fi'

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix --max-warnings 0",
    "prettier --write"
  ],
  "*.{js,jsx}": [
    "eslint --fix --max-warnings 0", 
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "server/**/*.ts": [
    "bash -c 'if grep -l \"console\\.\" \"$0\" | grep -v \".test.ts\" | grep -v \"logger.ts\"; then echo \"❌ Console usage detected in $0\"; exit 1; fi'",
    "bash -c 'if grep -l \"req\\.user\" \"$0\" | grep -v \".test.ts\"; then echo \"❌ req.user direct access detected in $0\"; exit 1; fi'"
  ]
}

feat: add comprehensive seeding scripts for avatar frames, dictionary, username colors, and forum structure
  archive/seed-corrupted/avatar-frames.ts
  archive/seed-corrupted/dictionary.ts
  archive/seed-corrupted/run-username-colors.ts
  archive/seed-corrupted/seed-all-comprehensive.ts
  archive/seed-corrupted/seed-avatar-frames.ts
  archive/seed-corrupted/seedForumsFromConfig.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: pre-phase-5 hardening checkpoint
  directory-tree.md
Due: prettier --write

chore: refresh Phase 5 checkpoint phase5-pre-codemods-2025-07-07T05-46-10Z
  .phase5-checkpoint
Due: none

Pre-Phase-1: Create backup of .bak files before transformation
  .backup/2025-07-07-2251/achievement.service.ts.bak
  .backup/2025-07-07-2251/audit-logger.ts.bak
  .backup/2025-07-07-2251/auth.service.ts.bak
  .backup/2025-07-07-2251/avatarFrames.spec.ts.backup
  .backup/2025-07-07-2251/bulk-operations.service.ts.bak
  .backup/2025-07-07-2251/engagement.service.ts.bak
  .backup/2025-07-07-2251/feature-gates.service.ts.bak
  .backup/2025-07-07-2251/missions.service.ts.bak
  .backup/2025-07-07-2251/paths.routes.ts.bak
  .backup/2025-07-07-2251/performance.service.ts.bak
  .backup/2025-07-07-2251/profile.service.ts.bak
  .backup/2025-07-07-2251/query.service.ts.bak
  .backup/2025-07-07-2251/queue.service.ts.bak
  .backup/2025-07-07-2251/rain-analytics.service.ts.bak
  .backup/2025-07-07-2251/rain.service.ts.bak
  .backup/2025-07-07-2251/referrals.service.ts.bak
  .backup/2025-07-07-2251/rewardService.ts.bak
  .backup/2025-07-07-2251/room.service.ts.bak
  .backup/2025-07-07-2251/shoutbox.service.ts.bak
  .backup/2025-07-07-2251/signature.routes.ts.bak
  .backup/2025-07-07-2251/tip.service.ts.bak
  .backup/2025-07-07-2251/tipping-analytics.service.ts.bak
  .backup/2025-07-07-2251/transaction-repository.ts.bak
  .backup/2025-07-07-2251/treasury.service.ts.bak
  .backup/2025-07-07-2251/vault.service.ts.bak
  .backup/2025-07-07-2251/xShareService.ts.bak
  .backup/2025-07-07-2251/xp.service.ts.bak
Due: none

Phase 1: Logger enhancements and shadow code cleanup
  config/vite.config.ts
  server/src/core/audit/audit-logger.ts.bak
  server/src/core/logger.ts
  server/src/core/repository/repositories/transaction-repository.ts.bak
  server/src/domains/admin/sub-domains/analytics/engagement/rain-analytics.service.ts.bak
  server/src/domains/admin/sub-domains/analytics/engagement/tipping-analytics.service.ts.bak
  server/src/domains/admin/sub-domains/database/query.service.ts.bak
  server/src/domains/admin/sub-domains/referrals/referrals.service.ts.bak
  server/src/domains/admin/sub-domains/treasury/treasury.service.ts.bak
  server/src/domains/admin/sub-domains/users/bulk-operations.service.ts.bak
  server/src/domains/admin/sub-domains/xp/xp.service.ts.bak
  server/src/domains/auth/services/auth.service.ts.bak
  server/src/domains/economy/services/rewardService.ts.bak
  server/src/domains/engagement/engagement.service.ts.bak
  server/src/domains/engagement/rain/rain.service.ts.bak
  server/src/domains/engagement/tip/tip.service.ts.bak
  server/src/domains/engagement/vault/vault.service.ts.bak
  server/src/domains/feature-gates/feature-gates.service.ts.bak
  server/src/domains/gamification/achievement.service.ts.bak
  server/src/domains/missions/missions.service.ts.bak
  server/src/domains/paths/paths.routes.ts.bak
  server/src/domains/profile/profile.service.ts.bak
  server/src/domains/profile/referrals.service.ts.bak
  server/src/domains/profile/signature.routes.ts.bak
  server/src/domains/share/services/xShareService.ts.bak
  server/src/domains/shoutbox/services/performance.service.ts.bak
  server/src/domains/shoutbox/services/queue.service.ts.bak
  server/src/domains/shoutbox/services/room.service.ts.bak
  server/src/domains/shoutbox/services/shoutbox.service.ts.bak
  server/src/domains/xp/xp.service.ts.bak
  tests/e2e/avatarFrames.spec.ts.backup
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'if grep -l "console\." "$0" | grep -v ".test.ts" | grep -v "logger.ts"; then echo "❌ Console usage detected in $0"; exit 1; fi', bash -c 'if grep -l "req\.user" "$0" | grep -v ".test.ts"; then echo "❌ req.user direct access detected in $0"; exit 1; fi'

Phase 1 Cleanup: Console violations fixed, policy established
  server/src/domains/profile/profile.service.ts
  server/src/domains/wallet/wallet-api-tests.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'if grep -l "console\." "$0" | grep -v ".test.ts" | grep -v "logger.ts"; then echo "❌ Console usage detected in $0"; exit 1; fi', bash -c 'if grep -l "req\.user" "$0" | grep -v ".test.ts"; then echo "❌ req.user direct access detected in $0"; exit 1; fi'

Add ESLint overrides for console policy
  .eslintrc.json
Due: prettier --write

Phase 1 Evidence-Based Status Update - 60% Complete
  _CODEBASE_TRANSFORMATION_PLAN.md
  quality-reports/phase5/2025-07-07/metrics.md
  quality-reports/phase5/2025-07-07/numeric-id-scan.txt
  server/src/domains/preferences/preferences.routes.ts
  tsconfig.json
  uuid-migration-scan-2025-07-07T07-25-34-807Z.csv
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'if grep -l "console\." "$0" | grep -v ".test.ts" | grep -v "logger.ts"; then echo "❌ Console usage detected in $0"; exit 1; fi', bash -c 'if grep -l "req\.user" "$0" | grep -v ".test.ts"; then echo "❌ req.user direct access detected in $0"; exit 1; fi'

Phase 1 verification evidence complete
  quality-reports/phase5/2025-07-07/VERIFICATION_REPORT.md
  quality-reports/phase5/2025-07-07/eslint-summary.txt
  quality-reports/phase5/2025-07-07/eslint-tail.txt
  quality-reports/phase5/2025-07-07/numeric-id-migration-dry-run.txt
  quality-reports/phase5/2025-07-07/numeric-id-violations-sample.txt
  quality-reports/phase5/2025-07-07/production-console-statements.txt
  quality-reports/phase5/2025-07-07/transformer-violations.txt
Due: prettier --write

chore: temporarily skip TypeScript checks in codemod runner
  quality-reports/phase5/2025-07-07/ts-errors-before-codemods.txt
  scripts/codemods/phase5/run-all.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: also skip ESLint checks for codemod execution
  scripts/codemods/phase5/run-all.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: fix vite config import and disable strict validation in codemod runner
  .phase5-checkpoint
  scripts/codemods/phase5/run-all.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: resolve most TypeScript import issues and config schema
  client/src/components/errors/ThreadNotFound.tsx
  client/src/types/ids.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(forum): apply transformer pattern (6 files)
  client/src/App.tsx
  client/src/features/forum/components/ThreadList.tsx
  client/src/pages/mod/activity.tsx
  client/src/pages/preferences/index.tsx
  client/src/pages/referrals/index.tsx
  server/src/domains/forum/forum.routes.ts
  server/src/domains/forum/routes/category.routes.ts
  server/src/domains/forum/routes/post.routes.ts
  server/src/domains/forum/routes/thread.routes.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'if grep -l "console\." "$0" | grep -v ".test.ts" | grep -v "logger.ts"; then echo "❌ Console usage detected in $0"; exit 1; fi', bash -c 'if grep -l "req\.user" "$0" | grep -v ".test.ts"; then echo "❌ req.user direct access detected in $0"; exit 1; fi'

chore(client): auth guard thin re-exports to GlobalRouteGuard
  client/src/components/auth/ProtectedRoute.tsx
  client/src/components/auth/RouteGuards.tsx
  client/src/components/auth/index.ts
  client/src/components/auth/protected-route.tsx
  client/src/components/auth/withRouteProtection.tsx
Due: eslint --fix --max-warnings 0, prettier --write

chore(build): relax lint warning cap in Phase-5 runner
  scripts/codemods/phase5/run-all.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore(codemod): exclude codemod scripts from bridge-file scan
  scripts/codemods/phase5/numeric-id-migration.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore(lint): temporarily disable no-unused-vars in server to reduce warnings below threshold
  .eslintrc.cjs
Due: none

phase5: eliminate all violations in tiny domains (notifications, user, editor, advertising, dictionary, collectibles, users)
  server/src/domains/advertising/ad-admin.controller.ts
  server/src/domains/collectibles/stickers/stickers.controller.ts
  server/src/domains/dictionary/dictionary.routes.ts
  server/src/domains/editor/editor.routes.ts
  server/src/domains/notifications/notification.routes.ts
  server/src/domains/user/user-preferences.routes.ts
  server/src/domains/users/middleware/privacy.middleware.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'if grep -l "console\." "$0" | grep -v ".test.ts" | grep -v "logger.ts"; then echo "❌ Console usage detected in $0"; exit 1; fi', bash -c 'if grep -l "req\.user" "$0" | grep -v ".test.ts"; then echo "❌ req.user direct access detected in $0"; exit 1; fi'

fix(phase-5): critical TypeScript & ESLint issues
  client/src/components/admin/AdminDashboard.tsx
  client/src/components/admin/clout/CloutLogsSection.tsx
  client/src/components/admin/cooldown-settings.tsx
  client/src/components/admin/layout/AdminPageShell.tsx
  client/src/components/admin/media/MediaLibraryModal.tsx
  server/src/core/errors.ts
  server/src/domains/shop/cosmetics.routes.ts
  server/src/domains/subscriptions/subscription.controller.ts
  server/src/domains/wallet/middleware/webhook.middleware.ts
  tsconfig.temp.json
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'if grep -l "console\." "$0" | grep -v ".test.ts" | grep -v "logger.ts"; then echo "❌ Console usage detected in $0"; exit 1; fi', bash -c 'if grep -l "req\.user" "$0" | grep -v ".test.ts"; then echo "❌ req.user direct access detected in $0"; exit 1; fi'

fix(typescript): prep for codemods - reduce TS errors
  client/src/components/admin/forms/xp/LevelFormDialogs.tsx
  client/src/components/economy/shoutbox/enhanced-shoutbox-widget.tsx
  client/src/constants/routes.ts
  client/src/core/router.tsx
  client/src/features/forum/components/HotThreads.tsx
  client/src/lib/utils/animateNumber.ts
  client/src/types/forum.ts
  client/src/types/notifications.ts
  tsconfig.json
Due: eslint --fix --max-warnings 0, prettier --write

feat(phase-5): codemods execution complete ✅
  .phase5-checkpoint
Due: none

docs: Phase 1 completion audit logs and summary
  quality-reports/phase5/2025-07-09/phase1-completion-summary.md
Due: prettier --write

feat(phase-2): re-enable compiler safety & start structured cleanup
  tsconfig.json
Due: prettier --write

fix(typescript): targeted string|undefined error fixes
  client/src/components/forum/enhanced/MobileForumNavigation.tsx
  client/src/components/mentions/MentionRenderer.tsx
  client/src/components/shoutbox/shoutbox-message-styles.tsx
Due: eslint --fix --max-warnings 0, prettier --write
