Repository GNARC0TICS/Degentalk-Preview: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write, bash -c 'if grep -l "console\." "$0" | grep -v ".test.ts" | grep -v "logger.ts"; then echo "❌ Console usage detected in $0"; exit 1; fi', bash -c 'if grep -l "req\.user" "$0" | grep -v ".test.ts"; then echo "❌ req.user direct access detected in $0"; exit 1; fi'

feat(wallet): complete Week 1 foundation - types, adapters, service & controller
  docs/architecture/WALLET_CONSOLIDATION_PLAN.md
  server/src/domains/_new-wallet/__tests__/ccpayment.adapter.test.ts
  server/src/domains/_new-wallet/adapters/cache.adapter.ts
  server/src/domains/_new-wallet/adapters/ccpayment.adapter.ts
  server/src/domains/_new-wallet/controllers/wallet.controller.ts
  server/src/domains/_new-wallet/index.ts
  server/src/domains/_new-wallet/routes/wallet.routes.ts
  server/src/domains/_new-wallet/services/wallet.service.ts
  server/src/domains/_new-wallet/validation/wallet.validation.ts
  shared/types/wallet/index.ts
  shared/types/wallet/payment.types.ts
  shared/types/wallet/transaction.types.ts
  shared/types/wallet/wallet.transformer.ts
  shared/types/wallet/wallet.types.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'if grep -l "console\." "$0" | grep -v ".test.ts" | grep -v "logger.ts"; then echo "❌ Console usage detected in $0"; exit 1; fi', bash -c 'if grep -l "req\.user" "$0" | grep -v ".test.ts"; then echo "❌ req.user direct access detected in $0"; exit 1; fi'

docs(wallet): add CCPayment integration guide and update completion status
  docs/architecture/CCPAYMENT_INTEGRATION.md
  docs/architecture/WALLET_CONSOLIDATION_PLAN.md
  server/src/domains/_new-wallet/README.md
Due: prettier --write

stream-b/finalise: exports + lint zero-warnings
  .claudedocs/metrics/cleanup-savings-2025-07-09.md
  .claudedocs/reports/cleanup-comprehensive-2025-07-09.md
  .claudedocs/reports/stream-b-completion-2025-07-09.md
  .gitignore
  AGENT_2_PROPERTY_RESOLUTION_ANALYSIS.md
  AGENT_3_IMPLICIT_ANY_ANALYSIS.md
  db/migrations/TODO-2025-07-09-user-fields.sql
  db/types/user-plugin-data.types.ts
  db/types/user.types.d.ts
  db/types/user.types.d.ts.map
  db/types/user.types.ts
  scripts/codemods/logger-migration.ts
  server/src/core/db.ts
  server/src/core/errors.ts
  server/src/core/monitoring/health-check.ts
  server/src/domains/users/transformers/user.transformer.ts
  server/storage.ts
  shared/dto/index.ts
  shared/dto/user/UserDTO.ts
  shared/dto/user/index.ts
  shared/fixtures/factories/user.factory.ts
  shared/types/core/index.ts
  shared/types/core/user.types.ts
  shared/types/ids.ts
  shared/types/index.ts
  shared/utils/cast.ts
  shared/validation/index.ts
  shared/validation/user/index.ts
  shared/validation/user/user.schema.ts
  ts2375_errors.txt
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'if grep -l "console\." "$0" | grep -v ".test.ts" | grep -v "logger.ts"; then echo "❌ Console usage detected in $0"; exit 1; fi', bash -c 'if grep -l "req\.user" "$0" | grep -v ".test.ts"; then echo "❌ req.user direct access detected in $0"; exit 1; fi'

fix: Update client ESLint config path
  client/.eslintrc.json
Due: prettier --write

🎉 BACK IN BUSINESS\! Vite dependency optimization nightmare SOLVED\!
  .eslintrc.cjs
  CLAUDE.md
  client/.eslintrc.json
  client/package.json
  client/postcss.config.js
  client/src/features/wallet/services/wallet-api.service.ts
  client/src/pages/forums/index.tsx
  client/src/pages/home.tsx
  client/src/pages/zones/index.tsx
  client/tailwind.config.ts
  client/vite.config.ts
  db/index.ts
  pnpm-lock.yaml
  scripts/db/seed-xp-actions.ts
  server/.claude/audit/2025-07-11.jsonl
  server/index.ts
  server/routes.ts
  server/src/domains/admin/admin.routes.ts
  server/src/domains/admin/sub-domains/treasury/treasury.validators.ts
  server/src/domains/auth/auth.routes.ts
  server/src/domains/engagement/tip/tip.routes.ts
  server/src/domains/engagement/tip/tip.service.ts
  server/src/domains/share/routes/xShareRoutes.ts
  server/src/middleware/trace.middleware.ts
  shared/economy/economy.config.ts
  shared/fixtures/index.ts
  shared/fixtures/utilities/test-helpers.ts
  shared/lib/admin-module-registry.ts
  shared/types/core/user-secure.types.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'if grep -l "console\." "$0" | grep -v ".test.ts" | grep -v "logger.ts"; then echo "❌ Console usage detected in $0"; exit 1; fi', bash -c 'if grep -l "req\.user" "$0" | grep -v ".test.ts"; then echo "❌ req.user direct access detected in $0"; exit 1; fi'

fix: TypeScript syntax error in user-secure.types.ts
  CLAUDE.md
  client/postcss.config.js
  shared/types/core/user-secure.types.ts
  tsconfig.eslint.json
Due: eslint --fix --max-warnings 0, prettier --write

feat: Add comprehensive Docker setup
  .dockerignore
  DOCKER.md
  Dockerfile
  docker-compose.claude.yml
  docker-compose.yml
  docker/claude-code/Dockerfile
  docker/claude-code/claude-dev.sh
  docker/claude-code/docker-compose.yml
  docker/nginx/nginx.conf
  package.json
  scripts/docker-dev.sh
Due: prettier --write

fix: Update project configuration and type definitions
  .claude/mcp.json
  .eslintrc.cjs
  CLAUDE.md
  client/src/__tests__/services/error.service.test.ts
  client/src/__tests__/types/admin.types.test.ts
  client/src/components/editor/suggestion.ts
  client/src/components/errors/AdminErrorBoundary.tsx
  client/src/components/errors/ErrorBoundary.tsx
  client/src/components/fixtures/fixture-builder.tsx
  client/src/components/forum/bbcode/PostSidebar.tsx
  migrations/postgres/meta/_journal.json
  pnpm-lock.yaml
  server/.claude/audit/2025-07-11.jsonl
  server/src/middleware/trace.middleware.ts
  shared/types/core/user-secure.types.ts
  shared/types/ids.ts
  shared/utils/id-validation.ts
  shared/wallet.config.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'if grep -l "console\." "$0" | grep -v ".test.ts" | grep -v "logger.ts"; then echo "❌ Console usage detected in $0"; exit 1; fi', bash -c 'if grep -l "req\.user" "$0" | grep -v ".test.ts"; then echo "❌ req.user direct access detected in $0"; exit 1; fi'

🏗️ Create new 9-domain admin structure
  server/src/domains/admin/gamification/controllers/xp.controller.ts
  server/src/domains/admin/gamification/gamification.routes.ts
  server/src/domains/admin/users/controllers/users.controller.ts
  server/src/domains/auth/controllers/auth.controller.ts
  server/src/domains/wallet/controllers/wallet.controller.ts
  server/src/domains/wallet/index.ts
  server/src/domains/wallet/routes/wallet.routes.ts
  server/src/domains/wallet/services/wallet.service.ts
  server/src/domains/wallet/webhooks/ccpayment-webhook.service.ts
  shared/wallet.config.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'if grep -l "console\." "$0" | grep -v ".test.ts" | grep -v "logger.ts"; then echo "❌ Console usage detected in $0"; exit 1; fi', bash -c 'if grep -l "req\.user" "$0" | grep -v ".test.ts"; then echo "❌ req.user direct access detected in $0"; exit 1; fi'

force commit: bypass ESLint and swap file issues (second commit)
  db/index.d.ts
  db/index.d.ts.map
  db/index.js
  db/index.js.map
  db/index.ts
  db/schema/index.d.ts
  db/schema/index.d.ts.map
  db/schema/index.js
  db/schema/index.js.map
  db/schema/index.ts
  package.json
  pnpm-lock.yaml
  server/routes.ts
  server/src/core/monitoring/health-check.ts
  server/src/core/routes/api/index.ts
  server/src/core/routes/api/status.ts
  server/src/domains/activity/routes/event-log.routes.ts
  server/src/domains/admin/sub-domains/dev/seeding.routes.ts
  server/src/domains/admin/sub-domains/forum/forum.routes.ts
  server/src/domains/auth/auth.routes.ts
  server/src/domains/auth/controllers/auth.controller.ts
  server/src/domains/editor/editor.routes.ts
  server/src/domains/forum/rules/rules.routes.ts
  server/src/domains/notifications/notification.routes.ts
  server/src/domains/uploads/upload.routes.ts
  server/tsconfig.json
  server/utils/dgt-wallet-integration.ts
  tsconfig.json
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'if grep -l "console\." "$0" | grep -v ".test.ts" | grep -v "logger.ts"; then echo "❌ Console usage detected in $0"; exit 1; fi', bash -c 'if grep -l "req\.user" "$0" | grep -v ".test.ts"; then echo "❌ req.user direct access detected in $0"; exit 1; fi'

security: Major pre-launch security improvements
  docs/SECURITY_CHECKLIST.md
  server/src/core/type-transformer.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'if grep -l "console\." "$0" | grep -v ".test.ts" | grep -v "logger.ts"; then echo "❌ Console usage detected in $0"; exit 1; fi', bash -c 'if grep -l "req\.user" "$0" | grep -v ".test.ts"; then echo "❌ req.user direct access detected in $0"; exit 1; fi'

feat: Comprehensive security monitoring and CI/CD automation
  .github/workflows/security-checks.yml
  server/src/core/security/security-monitor.service.ts
  server/src/domains/admin/admin.routes.ts
  server/src/domains/admin/controllers/security-monitor.controller.ts
  server/src/domains/admin/routes/security-monitor.routes.ts
  server/src/middleware/validate-route-ids.middleware.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'if grep -l "console\." "$0" | grep -v ".test.ts" | grep -v "logger.ts"; then echo "❌ Console usage detected in $0"; exit 1; fi', bash -c 'if grep -l "req\.user" "$0" | grep -v ".test.ts"; then echo "❌ req.user direct access detected in $0"; exit 1; fi'

feat: Mission system backend implementation
  IMPLEMENTATION_ROADMAP.md
  MISSION_SYSTEM_PRODUCTION_NOTES.md
  config/missions.config.ts
  db/migrations/add-mission-conditions.sql
  db/migrations/add-mission-metadata.sql
  db/schema/gamification/missions.ts
  degentalk_audit_enhanced.md
  directory-tree.md
  quotfix-backup-20250713-011832.tar.gz
  quotfix-cleanup-report.txt
  scripts/apply-mission-migrations.cjs
  scripts/apply-mission-migrations.ts
  scripts/backfill-thread-parentForumSlug.ts
  scripts/create-test-user.cjs
  scripts/cron/reset-daily-missions.ts
  scripts/fix-mission-imports.cjs
  scripts/missions/deactivate-all.ts
  scripts/missions/seed-example-missions.ts
  scripts/missions/set-sort-order.ts
  scripts/seed-missions-direct.cjs
  server/.claude/audit/2025-07-13.jsonl
  server/src/domains/auth/auth.routes.ts
  server/src/domains/gamification/gamification.routes.ts
  server/src/domains/gamification/index.ts
  server/src/domains/gamification/routes/mission.routes.ts
  server/src/domains/gamification/schemas/mission.schemas.ts
  server/src/domains/gamification/services/mission.service.ts
  server/src/domains/gamification/transformers/mission.transformer.ts
  server/src/domains/gamification/utils/mission-action-dispatcher.ts
  server/src/domains/gamification/utils/mission-tracker.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'if grep -l "console\." "$0" | grep -v ".test.ts" | grep -v "logger.ts"; then echo "❌ Console usage detected in $0"; exit 1; fi', bash -c 'if grep -l "req\.user" "$0" | grep -v ".test.ts"; then echo "❌ req.user direct access detected in $0"; exit 1; fi'

docs: Add critical fixes documentation for immediate attention
  CRITICAL_FIXES_NEEDED.md
Due: prettier --write

feat: Phase 1 frontend polish - admin-configurable UI system
  FRONTEND_POLISH_CONFIGURABLE_COMPONENTS_PLAN.md
  FRONTEND_POLISH_PLAN.md
  FRONTEND_POLISH_PROGRESS.md
  client/src/components/forum/ConfigurableZoneCard.tsx
  client/src/components/ui/LoadingIndicator.tsx
  client/src/contexts/UIConfigContext.tsx
  client/src/hooks/use-shop-ownership.tsx
  client/src/hooks/useFeatureGates.ts
  client/src/hooks/useXP.ts
  client/src/pages/admin/ui-components-config.tsx
  client/src/utils/spacing-constants.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: Complete server import path resolution and startup
  server/src/domains/admin/adminRegistry.ts
  server/src/domains/admin/sub-domains/settings/settings-command.service.ts
  server/src/domains/admin/sub-domains/settings/settings-group.service.ts
  server/src/domains/admin/sub-domains/settings/settings-query.service.ts
  server/src/domains/admin/sub-domains/settings/settings-validation.service.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'if grep -l "console\." "$0" | grep -v ".test.ts" | grep -v "logger.ts"; then echo "❌ Console usage detected in $0"; exit 1; fi', bash -c 'if grep -l "req\.user" "$0" | grep -v ".test.ts"; then echo "❌ req.user direct access detected in $0"; exit 1; fi'

REFACTOR MILESTONE, WORKING VERSION: overlays, theme tokens, dark mode, provider tree
  client/src/components/gamification/level-up-modal.tsx
  client/src/components/modals/TipPostModal.tsx
  client/src/providers/root-provider.tsx
  client/src/styles/globals.css
Due: eslint --fix --max-warnings 0, prettier --write

feat: update critical Link imports from wouter to react-router-dom
  client/src/components/forum/HotTopics.tsx
  client/src/components/forum/MyBBBreadcrumb.tsx
  client/src/components/forum/ThreadCard.tsx
  client/src/components/forum/ThreadRow.tsx
  client/src/components/header/Logo.tsx
  client/src/components/header/NavLink.tsx
  client/src/features/forum/components/ForumListItem.tsx
Due: eslint --fix --max-warnings 0, prettier --write

chore: quarantine legacy BBCode components to archive
  client/archive/bbcode/BBCodePostCard.tsx
  client/archive/bbcode/BBCodeThreadPage.tsx
  client/archive/bbcode/bbcode/BBCodeMockup-Enhanced.html
  client/archive/bbcode/bbcode/BBCodeMockup.html
  client/archive/bbcode/bbcode/PostActions.tsx
  client/archive/bbcode/bbcode/PostBody.tsx
  client/archive/bbcode/bbcode/PostFooter.tsx
  client/archive/bbcode/bbcode/PostHeader.tsx
  client/archive/bbcode/bbcode/PostSidebar.tsx
  client/archive/bbcode/bbcode/QuickReplyBox.tsx
  client/archive/bbcode/bbcode/index.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(client): migrate Link href→to props for react-router-dom v6
  client/src/components/errors/ForumNotFound.tsx
  client/src/components/errors/ThreadNotFound.tsx
  client/src/components/errors/UserNotFound.tsx
  client/src/components/forum/zone-group.tsx
  client/src/components/mentions/MentionRenderer.tsx
  client/src/components/platform-energy/featured-threads/featured-threads-slider.tsx
  client/src/components/platform-energy/leaderboards/weekly-leaderboard.tsx
  client/src/components/platform-energy/recent-posts/recent-posts-feed.tsx
  client/src/components/sidebar/leaderboard-widget.tsx
  client/src/components/ui/mobile-forum-nav.tsx
  client/src/pages/profile.tsx
  client/tsconfig.tsbuildinfo
Due: eslint --fix --max-warnings 0, prettier --write

fix(client): replace invalid Lucide icon title props with aria-label
  client/src/components/forum/MyBBForumList.tsx
  client/src/components/profile/ProfileSidebar.tsx
  client/src/components/profile/UnifiedProfileCard.tsx
  client/src/components/social/WhaleWatchDisplay.tsx
  client/src/pages/admin/config/economy.tsx
  client/tsconfig.tsbuildinfo
Due: eslint --fix --max-warnings 0, prettier --write

Path conditions:
  eslint --fix --max-warnings 0: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,md,yml,yaml})
  bash -c 'if grep -l "console\." "$0" | grep -v ".test.ts" | grep -v "logger.ts"; then echo "❌ Console usage detected in $0"; exit 1; fi': any of: server/**/*.ts
  bash -c 'if grep -l "req\.user" "$0" | grep -v ".test.ts"; then echo "❌ req.user direct access detected in $0"; exit 1; fi': any of: server/**/*.ts
