Repository GNARC0TICS/Degentalk-Preview: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write, bash -c 'if grep -l "console\." "$0" | grep -v ".test.ts" | grep -v "logger.ts"; then echo "❌ Console usage detected in $0"; exit 1; fi', bash -c 'if grep -l "req\.user" "$0" | grep -v ".test.ts"; then echo "❌ req.user direct access detected in $0"; exit 1; fi'

fix(client): resolve User type & Location destructuring issues
  client/src/components/auth/GlobalRouteGuard.tsx
  client/src/components/auth/RouteGuards.tsx
  client/src/types/canonical.types.ts
  client/tsconfig.tsbuildinfo
Due: eslint --fix --max-warnings 0, prettier --write

fix(client): resolve Location object & Link prop issues
  client/src/components/auth/GlobalRouteGuard.tsx
  client/src/components/forum/breadcrumb-nav.tsx
  client/src/hooks/use-auth.tsx
  client/tsconfig.tsbuildinfo
Due: eslint --fix --max-warnings 0, prettier --write

fix(client): complete Link href→to migration & CanonicalUser types
  client/src/components/forum/RecentActivity.tsx
  client/src/components/forum/forum-category-card.tsx
  client/src/components/forum/layouts/MagicForumBuilder.tsx
  client/src/pages/forums/search.tsx
  client/tsconfig.tsbuildinfo
Due: eslint --fix --max-warnings 0, prettier --write

fix(client): resolve all Location destructuring & navigation issues
  client/src/components/forum/LegacyForumRedirect.tsx
  client/src/components/forum/StickyBackButton.tsx
  client/src/components/forum/category-card.tsx
  client/src/components/forum/enhanced/MobileForumNavigation.tsx
  client/src/components/forum/forum-card.tsx
  client/src/components/forum/sidebar/ActivityFeedWidget.tsx
  client/src/components/forum/sidebar/HotTopicsWidget.tsx
  client/src/components/header/MobileNav.tsx
  client/src/components/header/PrimaryNav.tsx
  client/src/components/layout/AppSidebar.tsx
  client/src/components/layout/SidebarNavigation.tsx
  client/src/components/mod/mod-layout.tsx
  client/src/components/mod/mod-sidebar.tsx
  client/src/components/navigation/mobile-nav-bar.tsx
  client/src/components/ui/feature-gate.tsx
  client/src/components/ui/mobile-forum-nav.tsx
  client/src/features/admin/components/ModularAdminSidebar.tsx
  client/src/features/admin/components/simple-menu.tsx
  client/src/features/admin/shop/ShopManagement/edit.tsx
  client/src/features/forum/components/CreateThreadForm.tsx
  client/src/features/forum/components/HierarchicalZoneNav.tsx
  client/src/features/forum/components/ReplyForm.tsx
  client/src/features/forum/components/ThreadForm.tsx
  client/src/hooks/use-auth.tsx
  client/src/pages/auth.tsx
  client/src/pages/forums/index.tsx
  client/src/pages/forums/search.tsx
  client/src/pages/shop-management/dgt-purchase.tsx
  client/src/pages/shop-management/purchase-success.tsx
  client/tsconfig.tsbuildinfo
Due: eslint --fix --max-warnings 0, prettier --write

fix(client): resolve animation config & component prop issues
  client/src/components/forum/ConfigurableZoneCard.tsx
  client/src/config/animation.config.ts
  client/tsconfig.tsbuildinfo
Due: eslint --fix --max-warnings 0, prettier --write

fix(client): extend User/IdentityDisplay types with missing properties
  .lintstagedrc.json
  client/src/hooks/useIdentityDisplay.ts
  client/src/hooks/useXP.ts
  client/tsconfig.tsbuildinfo
Due: eslint --fix --max-warnings 0, prettier --write

feat(wallet): implement user-based rate limiting middleware
  client/src/features/forum/services/forumApi.ts
  client/src/features/wallet/components/WalletSheet.tsx
  client/src/hooks/use-auth.tsx
  server/src/domains/wallet/__tests__/rate-limit.middleware.test.ts
  server/src/domains/wallet/middleware/rate-limit.middleware.ts
  server/src/domains/wallet/routes/wallet.routes.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'if grep -l "console\." "$0" | grep -v ".test.ts" | grep -v "logger.ts"; then echo "❌ Console usage detected in $0"; exit 1; fi', bash -c 'if grep -l "req\.user" "$0" | grep -v ".test.ts"; then echo "❌ req.user direct access detected in $0"; exit 1; fi'

refactor(ids): replace deprecated as*Id with create*Id constructors
  client/src/components/forum/ForumPage.tsx
  client/src/components/forum/ThreadFilters.tsx
  client/src/features/wallet/components/WalletSheet.tsx
  scripts/codemods/replace-as-id-functions.ts
  shared/src/utils/ids.ts
  shared/types/ids.ts
  shared/types/index.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(types): resolve TS2305 exports and TS2724 naming mismatches
  client/src/components/forum/ThreadFilters.tsx
  client/src/features/admin/components/common/AdminDataTable.tsx
  client/src/features/admin/layout/layout/EntityTable.tsx
  client/src/features/admin/lib/admin-vault-service.ts
  client/src/features/admin/lib/index.ts
  client/src/features/admin/users/Roles.tsx
  client/src/features/admin/xp/XpSystem.tsx
  client/src/features/forum/components/CreateThreadForm.tsx
  client/src/features/wallet/components/animated-balance.tsx
  client/src/hooks/index.ts
  client/src/hooks/use-user-by-username.ts
  client/src/pages/admin/feature-flags.tsx
  client/src/pages/admin/ui-config.tsx
  client/src/pages/profile/xp.tsx
  client/src/types/user.ts
  client/tsconfig.json
Due: eslint --fix --max-warnings 0, prettier --write

feat(ui): wrap App in global ErrorBoundary with Sentry
  client/src/Router.tsx
  client/src/components/errors/ErrorBoundary.tsx
  client/src/components/errors/GlobalErrorBoundary.tsx
  client/src/components/forum/ForumPage.tsx
  client/src/components/test/ErrorBoundaryTest.tsx
  client/src/features/admin/__tests__/types/admin.types.test.ts
  client/src/features/admin/clout/AchievementsSection.tsx
  client/src/features/admin/clout/CloutGrantsSection.tsx
  client/src/features/admin/clout/CloutLogsSection.tsx
  client/src/features/admin/clout/CloutTiersSection.tsx
  client/src/features/admin/components/forms/users/UserFormDialog.tsx
  client/src/features/admin/effects/CloutObliterationEffect.tsx
  client/src/features/admin/lib/admin-vault-service.ts
  client/src/features/admin/xp/XpSystem.tsx
  client/src/features/forum/components/EditPostDialog.tsx
  client/src/features/forum/components/ForumHeader.tsx
  client/src/features/missions/components/MissionStats.tsx
  client/src/features/missions/components/StreakBanner.tsx
  client/src/hooks/use-infinite-scroll.ts
  client/src/lib/app-init.ts
  client/src/lib/logger.ts
  client/src/lib/sentry.ts
  client/src/main.tsx
  client/src/services/error.service.ts
  client/src/types/forum.ts
  client/src/types/global.d.ts
  client/src/types/sentry.d.ts
  server/routes.ts
  server/src/lib/sentry-server.ts
  server/src/middleware/error-handler.middleware.ts
  shared/src/utils/index.ts
  shared/types/ids.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'if grep -l "console\." "$0" | grep -v ".test.ts" | grep -v "logger.ts"; then echo "❌ Console usage detected in $0"; exit 1; fi', bash -c 'if grep -l "req\.user" "$0" | grep -v ".test.ts"; then echo "❌ req.user direct access detected in $0"; exit 1; fi'

fix(client): correct @shared path aliases & update Sentry ErrorBoundary import
  client/src/components/errors/GlobalErrorBoundary.tsx
  client/src/components/forum/ForumPage.tsx
  client/tsconfig.json
  client/vite.config.ts
  server/index.ts
  server/routes.ts
  server/src/domains/auth/services/auth.service.example.ts
  server/src/domains/auth/services/auth.service.ts
  server/src/domains/example/example-updated.controller.ts
  server/src/lib/report-error.ts
  server/src/middleware/centralized-error-handler.middleware.ts
  server/src/routes/test-error.route.ts
  shared/package.json
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'if grep -l "console\." "$0" | grep -v ".test.ts" | grep -v "logger.ts"; then echo "❌ Console usage detected in $0"; exit 1; fi', bash -c 'if grep -l "req\.user" "$0" | grep -v ".test.ts"; then echo "❌ req.user direct access detected in $0"; exit 1; fi'

feat(server): instrument domain services with reportErrorServer in catch blocks
  server/src/domains/gamification/achievements/achievement-admin.service.ts
  server/src/domains/gamification/achievements/achievement-processor.service.ts
  server/src/domains/gamification/services/achievement.service.ts
  server/src/domains/gamification/services/rewardService.ts
  server/src/domains/shop/services/emoji-pack-unlock.service.ts
  server/src/domains/shop/services/shop.utils.service.ts
  server/src/domains/shop/services/vanity-sink.analyzer.ts
  server/src/domains/wallet/services/wallet.service.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'if grep -l "console\." "$0" | grep -v ".test.ts" | grep -v "logger.ts"; then echo "❌ Console usage detected in $0"; exit 1; fi', bash -c 'if grep -l "req\.user" "$0" | grep -v ".test.ts"; then echo "❌ req.user direct access detected in $0"; exit 1; fi'

chore(server): fix TSConfig module resolution & ESLint include paths
  server/tsconfig.eslint.json
  server/tsconfig.json
Due: prettier --write

WIP: Staging existing changes before import refactor
  FORUM_DEV_GUIDE.md
  client/.env.example
  client/src/AUTH_ANALYSIS.md
  client/src/components/auth/AuthRedirectHandler.tsx
  client/src/components/header/HeaderContext.tsx
  client/src/components/header/SiteHeader.tsx
  client/src/hooks/use-auth-navigation.ts
  client/src/hooks/use-auth.tsx
  client/src/hooks/wrappers/use-auth-wrapper.ts
  client/src/layouts/RootLayout.tsx
  client/src/pages/forums/index.tsx
  client/src/pages/home.tsx
  client/src/pages/profile.tsx
  client/src/schemas/api/mission.schema.ts
  directory-tree.md
  scripts/audit-imports.ts
  server/.claude/audit/2025-07-22.jsonl
  server/.claude/audit/2025-07-23.jsonl
  server/index-clean.ts
  server/index.ts
  server/package.json
  server/routes.ts
  shared/types/auth-user.types.ts
  shared/types/index.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'if grep -l "console\." "$0" | grep -v ".test.ts" | grep -v "logger.ts"; then echo "❌ Console usage detected in $0"; exit 1; fi', bash -c 'if grep -l "req\.user" "$0" | grep -v ".test.ts"; then echo "❌ req.user direct access detected in $0"; exit 1; fi'

config: add new import aliases alongside old ones for gradual migration
  .eslintrc.cjs
  client/tsconfig.json
  client/vite.config.ts
  server/tsconfig.json
  tsconfig.base.json
Due: eslint --fix --max-warnings 0, prettier --write

fix: redirect @db imports to @shared/types
  scripts/fix-db-imports.cjs
  scripts/refactor/fix-admin-double-layout.ts
  scripts/refactor/fix-broken-admin-imports.ts
  scripts/refactor/rbac-codemod.ts
  server/src/domains/forum/forum.service.ts
  server/src/domains/forum/services/cache.service.ts
  server/src/domains/forum/services/category.service.ts
  server/src/domains/forum/services/config.service.ts
  server/src/domains/forum/services/post.service.ts
  server/src/domains/forum/services/structure.service.ts
  server/src/domains/forum/services/thread.service.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'if grep -l "console\." "$0" | grep -v ".test.ts" | grep -v "logger.ts"; then echo "❌ Console usage detected in $0"; exit 1; fi', bash -c 'if grep -l "req\.user" "$0" | grep -v ".test.ts"; then echo "❌ req.user direct access detected in $0"; exit 1; fi'

fix: convert remaining old import patterns in test and script files
  db/types/brand.types.ts
  lib/forum/getForumRules.ts
  scripts/apply-performance-indexes.ts
  scripts/cleanup-remaining-imports.cjs
  scripts/codemods/consolidate-auth-guards.ts
  scripts/codemods/id-to-entityid.ts
  scripts/codemods/logger-migration.ts
  scripts/db/seed-default-levels.ts
  scripts/dev/test-deposit-flow.ts
  scripts/migration/fix-admin-missing-modules.ts
  scripts/seed/engines/abuse-simulator.ts
  scripts/seed/engines/admin-flow-simulator.ts
  scripts/seed/engines/cosmetics-effects.ts
  scripts/seed/engines/gamification-simulator.ts
  scripts/seed/engines/temporal-simulator.ts
  scripts/seed/sync/config-enforcer.ts
  scripts/testing/test-repository-implementation.ts
  scripts/verify-imports.cjs
  server/src/domains/admin/shared/index.ts
  test/ccpayment-webhook/webhook.test.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'if grep -l "console\." "$0" | grep -v ".test.ts" | grep -v "logger.ts"; then echo "❌ Console usage detected in $0"; exit 1; fi', bash -c 'if grep -l "req\.user" "$0" | grep -v ".test.ts"; then echo "❌ req.user direct access detected in $0"; exit 1; fi'

docs: add import refactoring summary and cleanup scripts
  IMPORT_REFACTORING_SUMMARY.md
  scripts/remove-old-aliases.cjs
Due: prettier --write

test: add import validation report
  VALIDATION_REPORT.md
Due: prettier --write

chore(git): track dev tool directories and allow zen-mcp-server
  .gitignore
Due: none

fix: resolve TypeScript errors before zone refactor
  shared/config/forum-map.config.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: complete zone removal and database migration
  ADMIN_CLEANUP_SUMMARY.md
  client/src/components/forum/ConfigurableFeaturedForumCard.tsx
  client/src/components/forum/ProfileCard.tsx
  client/src/components/forum/ThreadAuthor.tsx
  client/src/components/forum/ThreadCard.tsx
  client/src/components/preferences/account-preferences.tsx
  client/src/components/preferences/display-preferences.tsx
  client/src/components/preferences/notification-preferences.tsx
  client/src/components/preferences/profile-preferences.tsx
  client/src/components/preferences/referral-preferences.tsx
  client/src/components/preferences/session-preferences.tsx
  client/src/components/profile/UserProfileRenderer.tsx
  client/src/components/sidebar/leaderboard-widget.tsx
  client/src/components/ui/content-feed.tsx
  client/src/components/ui/enhanced-thread-card.tsx
  client/src/components/ui/user-badge.tsx
  scripts/db/zones-to-featured-forums-migration.ts
  server/src/domains/admin/sub-domains/titles/titles.routes.ts
  server/src/domains/admin/sub-domains/xp/xp.reputation.service.ts
  server/src/domains/gamification/index.ts
  server/src/domains/gamification/titles.controller.ts
  server/src/domains/gamification/titles.routes.ts
  server/src/domains/gamification/titles.service.ts
  server/src/domains/gamification/titles.validators.ts
  shared/config/titles.config.ts
  shared/types/ids.ts
  shared/types/thread.types.ts
  shared/types/user.types.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'if grep -l "console\." "$0" | grep -v ".test.ts" | grep -v "logger.ts"; then echo "❌ Console usage detected in $0"; exit 1; fi', bash -c 'if grep -l "req\.user" "$0" | grep -v ".test.ts"; then echo "❌ req.user direct access detected in $0"; exit 1; fi'

fix: update forum navigation to handle top-level forums
  client/src/components/forum/ForumPage.tsx
  client/src/pages/forums/index.tsx
  server/src/domains/admin/sub-domains/economy/economy.routes.ts
  server/src/domains/admin/sub-domains/treasury/treasury.routes.ts
  server/src/domains/economy/admin/economy.controller.ts
  server/src/domains/economy/admin/economy.routes.ts
  server/src/domains/economy/admin/treasury.controller.ts
  server/src/domains/economy/admin/treasury.routes.ts
  server/src/domains/economy/admin/treasury.service.ts
  server/src/domains/economy/admin/treasury.validators.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'if grep -l "console\." "$0" | grep -v ".test.ts" | grep -v "logger.ts"; then echo "❌ Console usage detected in $0"; exit 1; fi', bash -c 'if grep -l "req\.user" "$0" | grep -v ".test.ts"; then echo "❌ req.user direct access detected in $0"; exit 1; fi'

fix: handle forum lookup with current context structure
  ADMIN_CLEANUP_STATUS.md
  client/src/components/forum/ForumPage.tsx
  client/src/pages/forums/index.tsx
  server/src/domains/admin/sub-domains/announcements/announcements.routes.ts
  server/src/domains/admin/sub-domains/avatar-frames/avatar-frames.routes.ts
  server/src/domains/admin/sub-domains/email-templates/email-templates.routes.ts
  server/src/domains/admin/sub-domains/emojis/emojis.routes.ts
  server/src/domains/admin/sub-domains/forum/forum.routes.ts
  server/src/domains/admin/sub-domains/social/social.routes.ts
  server/src/domains/admin/sub-domains/subscriptions/subscription.admin.routes.ts
  server/src/domains/forum/admin/forum.controller.ts
  server/src/domains/forum/admin/forum.routes.ts
  server/src/domains/forum/admin/forum.service.ts
  server/src/domains/forum/admin/forum.validators.ts
  server/src/domains/forum/features/announcements.controller.ts
  server/src/domains/forum/features/announcements.routes.ts
  server/src/domains/forum/features/announcements.service.ts
  server/src/domains/forum/features/emojis.controller.ts
  server/src/domains/forum/features/emojis.routes.ts
  server/src/domains/forum/features/emojis.service.ts
  server/src/domains/forum/features/emojis.validators.ts
  server/src/domains/forum/features/index.ts
  server/src/domains/notifications/admin/email-templates.controller.ts
  server/src/domains/notifications/admin/email-templates.routes.ts
  server/src/domains/notifications/admin/email-templates.service.ts
  server/src/domains/shop/cosmetics/avatar-frames.controller.ts
  server/src/domains/shop/cosmetics/avatar-frames.routes.ts
  server/src/domains/shop/cosmetics/avatar-frames.service.ts
  server/src/domains/subscriptions/admin/subscription.admin.controller.ts
  server/src/domains/subscriptions/admin/subscription.admin.routes.ts
  server/src/domains/users/social/social.controller.ts
  server/src/domains/users/social/social.routes.ts
  server/src/domains/users/social/social.service.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'if grep -l "console\." "$0" | grep -v ".test.ts" | grep -v "logger.ts"; then echo "❌ Console usage detected in $0"; exit 1; fi', bash -c 'if grep -l "req\.user" "$0" | grep -v ".test.ts"; then echo "❌ req.user direct access detected in $0"; exit 1; fi'

Path conditions:
  eslint --fix --max-warnings 0: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,md,yml,yaml})
  bash -c 'if grep -l "console\." "$0" | grep -v ".test.ts" | grep -v "logger.ts"; then echo "❌ Console usage detected in $0"; exit 1; fi': any of: server/**/*.ts
  bash -c 'if grep -l "req\.user" "$0" | grep -v ".test.ts"; then echo "❌ req.user direct access detected in $0"; exit 1; fi': any of: server/**/*.ts
